@model FreeCMS.DomainModels.System.Menu
@{
    string cssClass = "navbar-nav flex-grow-1" + Model.CssClass;
}

@if(Model != null && Model.MenuItems != null && Model.MenuItems.Count > 0)
{
    <ul class="@cssClass">
        @foreach (var item in Model.MenuItems.Where(i => i.ParentId == null)
            .OrderBy(i => i.CreationDate))
        {
            @Html.Partial("_ShowMenuItem",item)
        }
    </ul>

    @*<ul class="@cssClass">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Privacy</a>
        </li>
    </ul>*@
    
}
