@model Webo.Core.Areas.Core.ViewModels.Role.RoleDetailsVm
@inject IUserImageService userImageService
@if(Model.UserRoles != null && Model.UserRoles.Count > 0)
{
    <div class="table-responsive scroll-wrapper">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>نام</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var userRole in Model.UserRoles)
                {
                    <tr>
                        <td><img src="@userImageService.ShowUserImage(userRole.User.Image)" class="webo-user-image-table"></td>
                        <td>
                            <a href="@Url.Action("Details","User",new{area="Core",id=userRole.User.Id})" class="webo-username-link">@userRole.User.FullName</a>
                        </td>
                    </tr>
                    
                }
            </tbody>
        </table>
    </div>
}
else
{
    <h4><font color="#ccc">هیچ کاربری این نقش را ندارد.</font></h4>
    <br />
}