@model FreeCMS.Areas.Core.ViewModels.EditUserVm

<div class="table-responsive" id="RolesTable">
    @if(Model.UserRoles != null && Model.UserRoles.Count > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>نقش</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var role in Model.UserRoles)
                {
                    <tr>
                        <td>@role</td>
                        <td>
                            <a href="#" class="deleteRole btn btn-default " id=@Model.Id roleName="@role" data-toggle="modal" data-target="#exampleModal" data-whatever="@role">
                                حذف
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h4><font color="#ccc">برای این کاربر هیچ نقشی وجود ندارد...</font></h4>
        <br />
    }
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">حذف نقش</h4>
            </div>
            <div class="modal-body">
                آیا از حذف این نقش مطمئن هستید؟
                <div id="role-info"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">انصراف</button>
                <button type="button" class="btn btn-danger" id="btn-role-delete" data-roleid="">حذف</button>
            </div>
        </div>
    </div>
</div>