@model FreeCMS.Areas.Core.ViewModels.UserDetails
<span><b>نقش ها:</b></span>
@if(Model.UserRoles != null && Model.UserRoles.Count > 0)
{
    foreach (var role in Model.UserRoles)
    {
        <span class="label label-primary" style="margin-left:5px;">@role.Role.Name</span>
    }
}
else
{
    <h4><font color="#ccc">برای این کاربر هیچ نقشی وجود ندارد...</font></h4>
    <br />
}