@font-face {
    font-family: 'iransansweb';
    src: url('fonts/iransansweb.eot') format('embedded-opentype'), url('fonts/iransansweb.ttf') format('truetype'), url('fonts/iransansweb.woff') format('woff'), url('fonts/iransansweb.woff2') format('woff2');
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'iransansweb','IRANSansWeb(FaNum)','B Yekan';
    direction: rtl;
    margin-bottom: 60px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.dropdown-menu{
    text-align: right;
}

.dropdown-menu[data-bs-popper] {
    left: unset;
    right: 0;
}

.img-social-network-public{
    height: 50px;
}


