@{
    ViewData["Title"] = "عدم دسترسی";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <div class="font-size-200px text-danger"><span class="fas fa-ban"></span></div>
        <h4> شما به این بخش دسترسی ندارید. </h4>
    </div>
</div>