@model IList<FreeCMS.DomainModels.System.SocialNetwork>
@if(Model != null && Model.Count > 0)
{
    <div class="social-networks-box clearfix">
        <div class="social-networks-wrapper float-right">
            @foreach (var socialNetwork in Model)
            {
                <a href="@socialNetwork.ShareAddress" target="_blank">
                    <img src="@socialNetwork.Image" alt="@socialNetwork.Name" class="img-fluid img-share-social">
                </a>
            }
        </div>
    </div>
    
}